<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Silence is eloquence</title>
</head>
<body>
	
<div style="opacity: .5; display:flex; align-items:center; justify-content:center; width:100%; margin-top:50px">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
        
        /* Daha spesifik CSS ile Poppins fontunu zorla uygulama */
        a, span, div {
            font-family: 'Poppins', sans-serif !important;
        }
    </style>
    <a href="https://nowifymedia.com" style="display:flex; align-items: center; gap:5px; color:#353535; text-decoration:none; font-size:13px; justify-content:center; width:100%; background:#111111; color:#e3e5e9; padding:10px;">
        <span>Created by</span>
        <img width="20px" height="auto" src="https://raw.githubusercontent.com/uguralpyildiz/enjekt-rpapilus/refs/heads/main/logo.png" alt="NowifyMedia">
        <div>
           <span style="font-style: italic"><span style="font-weight:600">Nowify</span>Media.com</span> 
        </div>
    </a>
</div>
  </body>
</html>